@import "./styles/reset.css";
@import "./styles/root.css";
@import "./styles/fonts.css";
@import "./styles/footer.css";
@import "./styles/style-menu.css";
@import "./styles/header.css";
@import "./styles/style-animation-slide-right.css";
@import "./styles/homepage.css";
@import "./styles/get-in-touch-section.css";
@import "./styles/style-slider.css";
