@layer utilities {
  /*header start */
  .header-container {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 32px 32px 120px;
    backdrop-filter: blur(8px);

    @media (width >= 768px) {
      backdrop-filter: none;
      top: auto;
      position: static;
    }
  }

  .header-nav {
    @media (width >= 768px) {
      visibility: hidden;
    }
  }

  .logo-nav-container {
    position: absolute;
    top: 24px;
    left: 50%;
    translate: -50% 0;
  }

  .logo-nav-container__flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo-nav__logo {
    margin-inline: auto;
    max-width: 100px;
  }

  .logo-nav__nav {
    display: none;
    @media (width >= 768px) {
      display: block;
    }
  }

  .icons-container {
    position: absolute;
    top: 50px;
    right: max(50px, -720px + 50vw);
    display: flex;
    gap: 16px;
  }

  .icons__icon {
    scale: 150% 150%;
  }
  /*header end*/
}
