@layer utilities {

  .homepage-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .homepage-promo-section {
    position: relative;
    overflow: visible;
    margin-inline: auto;
    max-width: 1920px;
    padding: 16px;
  }

  .pottery-image {
    display: none;
    bottom: 0;
    left: 0;
    width: 33.33333%;
    position: absolute;
    max-width: 480px;
    height: auto;
    object-fit: contain;
    @media (width >= 1024px) {
      display: block;
    }
  }

  .dream-section {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 16px;
    margin: 16px;
    max-width: 1440px;
    margin-inline: auto;
    @media (width >= 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: repeat(1, minmax(0, 1fr));
    }
    @media (width >= 1024px) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  .dream-text-pos {
    text-align: center;

    @media (width >= 768px) {
      margin-top: auto;
      margin-bottom: 80px;
      margin-right: 80px;
      text-align: left;
    }

    @media (width >= 1024px) {
      grid-column: span 2 / span 2;
      grid-column-start: 3;
      margin-right: 0;
      margin-left: 120px;
    }

    @media (width >= 1280px) {
      margin-left: 200px;
    }
  }



  .dream-ceramics-section-container  {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (width >= 1024px) {
      grid-column-end: -1;
    }
  }


  .shop-now-button {
    border: 1px solid;
    border-color: var(--color-lab3-black);
    padding-block: 12px;
    transition: all 0.3s ease;
    border-radius: 4px;
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-lab3-black);
        color: var(--color-lab3-white);
      }
    }

    &:active {
      background-color: var(--color-white);
      color: var(--color-lab3-black);
      border-color: var(--color-lab3-black);
      box-shadow: inset 0 0 10px 5px rgba(0, 0, 0, 0.3);
    }
  }
  .preview-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 48px;
  }


  .create-or-buy-section {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 32px;
    align-items: stretch;
    max-width: 1440px;
    margin-inline: auto;

    @media (width >= 768px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));

    }
    @media (width >= 1024px) {
      grid-template-columns: 1fr 2fr;
    }
  }

  .create-or-buy-title-h2 {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
  }



  .create-or-buy-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .create-or-buy-title-h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    height: 40px;
  }

  .homepage-preview-image {
    width: 100%;
    height: 256px;
    object-fit: cover;
    border-radius: 6px;
    @media (width >= 1280px) {
      height: 260px;
    }
  }

  .homepage-preview-text-container {
    margin-top: 16px;
    flex: 1;
  }

  .workshop-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .workshop-title-h3 {
    margin-bottom: 16px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .check-out-our-works-section {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin-inline: auto;
  }

  .check-out-our-works-section-title-h2 {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-inline: auto;
  }
}
